In [8]:
import sys
import importlib
sys.path.append('../')

from src.finance_ml.data_preparation.data_preparation import DataLoader
from src.finance_ml.data_preparation.asset_class import Asset
from src.finance_ml.data_preparation.portfolio_class import Portfolio

### 1. Using DataLoader class

In [9]:
# Defining time_index_col (must be the same column in all inputs) and keep_cols refering to the columns that will remain in the dataset
dataloader = DataLoader(time_index_col= 'DATE', 
                    keep_cols = ['VOLUME','OPEN', 'CLOSE', 'LOW', 'TRANSACTIONS'])

In [10]:
# loading assets into to an unique df
dataloader.load_dataset({'GOLD':'../data/commodities/GLD_2020-04-07_2022-04-06.parquet',
                        'BITCOINS':'../data/cryptos/BTCUSD_2020-04-07_2022-04-06.parquet',
                        'SRET':'../data/real_estate/SRET_2020-04-07_2022-04-06.parquet'})

,GOLD_VOLUME,GOLD_OPEN,GOLD_CLOSE,GOLD_LOW,GOLD_TRANSACTIONS,BITCOINS_VOLUME,BITCOINS_OPEN,BITCOINS_CLOSE,BITCOINS_LOW,BITCOINS_TRANSACTIONS,SRET_VOLUME,SRET_OPEN,SRET_CLOSE,SRET_LOW,SRET_TRANSACTIONS
DATE,,,,,,,,,,,,,,,
2020-04-07 15:43:00,21071.0,155.880,155.9260,155.8600,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:44:00,23010.0,155.930,155.9000,155.9000,165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:45:00,31544.0,155.920,155.7350,155.7200,292.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:46:00,42645.0,155.760,155.8400,155.7600,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:47:00,3735.0,155.805,155.8100,155.7950,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-06 23:54:00,204.0,179.540,179.5399,179.5399,3.0,37.006803,43146.71,43144.08,43123.70,683.0,NaN,NaN,NaN,NaN,NaN
2022-04-06 23:55:00,NaN,NaN,NaN,NaN,NaN,65.685080,43144.08,43188.59,43138.37,1232.0,NaN,NaN,NaN,NaN,NaN
2022-04-06 23:56:00,NaN,NaN,NaN,NaN,NaN,25.763792,43188.44,43111.80,43111.80,797.0,NaN,NaN,NaN,NaN,NaN
2022-04-06 23:57:00,NaN,NaN,NaN,NaN,NaN,21.241159,43122.93,43149.90,43115.26,647.0,NaN,NaN,NaN,NaN,NaN
2022-04-06 23:58:00,NaN,NaN,NaN,NaN,NaN,120.336717,43146.69,43173.96,43144.81,826.0,NaN,NaN,NaN,NaN,NaN

In [11]:
# Some descriptive information about the tickers
dataloader.tablefreq

           GOLD_time                      BITCOINS_time               \
            GOLD_min  GOLD_max GOLD_count  BITCOINS_min BITCOINS_max
date
2020-04-07  15:43:00  23:37:00      298.0      17:48:00     23:59:00
2020-04-08  09:36:00  23:58:00      514.0      00:00:00     23:59:00
2020-04-09  08:00:00  23:58:00      591.0      00:00:00     23:59:00
2020-04-10       NaN       NaN        NaN      00:00:00     23:59:00
2020-04-11       NaN       NaN        NaN      00:00:00     23:59:00
...              ...       ...        ...           ...          ...
2022-04-02       NaN       NaN        NaN      00:00:00     23:59:00
2022-04-03       NaN       NaN        NaN      00:00:00     23:59:00
2022-04-04  08:01:00  23:59:00      513.0      00:00:00     23:59:00
2022-04-05  08:00:00  23:58:00      489.0      00:00:00     23:58:00
2022-04-06  08:03:00  23:54:00     1004.0      00:00:00     23:58:00

                          SRET_time
           BITCOINS_count  SRET_min  SRET_max SRET_count
date
2020-04-07          372.0  17:25:00  19:59:00      100.0
2020-04-08         1440.0  13:30:00  21:56:00      293.0
2020-04-09         1440.0  12:58:00  19:59:00      344.0
2020-04-10         1440.0       NaN       NaN        NaN
2020-04-11         1440.0       NaN       NaN        NaN
...                   ...       ...       ...        ...
2022-04-02         1440.0       NaN       NaN        NaN
2022-04-03         1440.0       NaN       NaN        NaN
2022-04-04         1440.0  13:30:00  19:59:00      161.0
2022-04-05         1439.0  13:30:00  21:25:00      170.0
2022-04-06         1439.0  13:10:00  19:59:00      374.0

[730 rows x 9 columns]

### Using Asset and Portfolio class

In [12]:
# loading an asset
data = dataloader.load_dataset({'GOLD':'../data/commodities/GLD_2020-04-07_2022-04-06.parquet'})
asset1 = Asset(ticker="GOLD", data= data, index_name=dataloader.time_index_col)
asset1

Asset(ticker='GOLD', index_name='DATE')

In [13]:
asset1.data.head()

,GOLD_VOLUME,GOLD_OPEN,GOLD_CLOSE,GOLD_LOW,GOLD_TRANSACTIONS
DATE,,,,,
2020-04-07 15:43:00,21071.0,155.880,155.926,155.860,152.0
2020-04-07 15:44:00,23010.0,155.930,155.900,155.900,165.0
2020-04-07 15:45:00,31544.0,155.920,155.735,155.720,292.0
2020-04-07 15:46:00,42645.0,155.760,155.840,155.760,153.0
2020-04-07 15:47:00,3735.0,155.805,155.810,155.795,47.0

In [14]:
asset1.data.describe()

,GOLD_VOLUME,GOLD_OPEN,GOLD_CLOSE,GOLD_LOW,GOLD_TRANSACTIONS
count,2.794780e+05,279478.000000,279478.000000,279478.000000,279472.000000
mean,1.779180e+04,171.283840,171.283486,171.256049,134.606773
std,3.489677e+04,7.415213,7.414995,7.411597,193.526850
min,0.000000e+00,154.575000,154.500000,154.500000,1.000000
25%,2.184000e+03,166.130000,166.130000,166.100000,17.000000
50%,8.332000e+03,169.820000,169.815000,169.793300,80.000000
75%,2.045900e+04,177.048125,177.045000,177.020000,173.000000
max,2.766136e+06,194.740000,194.880000,194.740000,9355.000000

In [15]:
# loading another asset
data = dataloader.load_dataset({'BITCOINS':'../data/cryptos/BTCUSD_2020-04-07_2022-04-06.parquet'})
asset2 = Asset(ticker="BITCOINS", data= data, index_name=dataloader.time_index_col)
asset2

Asset(ticker='BITCOINS', index_name='DATE')

In [16]:
# Using Portfolio class
porfolio1 = Portfolio([asset1, asset2])

In [17]:
porfolio1

Portfolio(assets=[Asset(ticker='GOLD', index_name='DATE'), Asset(ticker='BITCOINS', index_name='DATE')])

In [18]:
data = dataloader.load_dataset({'SRET':'../data/real_estate/SRET_2020-04-07_2022-04-06.parquet'})
asset3 = Asset(ticker="SRET", data= data, index_name=dataloader.time_index_col)
porfolio1.add_asset(asset3)

In [19]:
porfolio1

Portfolio(assets=[Asset(ticker='GOLD', index_name='DATE'), Asset(ticker='BITCOINS', index_name='DATE'), Asset(ticker='SRET', index_name='DATE')])

In [20]:
unified_df_porfolio1= porfolio1.join_data(['GOLD','BITCOINS', 'SRET'])

In [21]:
unified_df_porfolio1.head()

,GOLD_VOLUME,GOLD_OPEN,GOLD_CLOSE,GOLD_LOW,GOLD_TRANSACTIONS,BITCOINS_VOLUME,BITCOINS_OPEN,BITCOINS_CLOSE,BITCOINS_LOW,BITCOINS_TRANSACTIONS,SRET_VOLUME,SRET_OPEN,SRET_CLOSE,SRET_LOW,SRET_TRANSACTIONS
DATE,,,,,,,,,,,,,,,
2020-04-07 15:43:00,21071.0,155.880,155.926,155.860,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:44:00,23010.0,155.930,155.900,155.900,165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:45:00,31544.0,155.920,155.735,155.720,292.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:46:00,42645.0,155.760,155.840,155.760,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:47:00,3735.0,155.805,155.810,155.795,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN